.QM {
	font-size: 130%;
	font-weight: normal;
	color: #FFFFFF;
}

.Classfying {
	font-size: 22px;
	font-weight: normal;
	color: #961819;
}

.login 
{
	font-size: 18px; color: #0000bb; font-weight:bolder;
}

.Sub5 
{
	font-family: "µØ±d²Ê¶ÂÅé";
	font-size: 30px;
	color: #ebebeb;
}

.style4 
{
	font-size: 14px; color: #ebebeb; 
}
	
.list 
{
	 font-size: 22px; color: #0000bb; font-weight:bolder; 
}

.metadata
{
	font-size: 20px; color: #000000; font-weight:bolder;
}
.metadata2
{
	font-size: 23px; color: #004444;
}
.metadata3
{
	font-size: 20px; color: #000000; font-weight:bolder;
}
.Title1 
{
	font-size: 180%;
	font-weight: normal;
	color: #8A0002;
}

.QKey{
	FONT-SIZE: 24px; COLOR: #ffffff; font-weight: bold;
}

.BulletinContent{
	FONT-SIZE: 20px; COLOR: #CCCCFF; 
}
.BulletinTitle{
	FONT-SIZE: 24px; COLOR: #FFAAAA; font-weight: bold; 
}