.QM
{
font-weight: normal;
font-size: 60%;
color: #FFFFFF;
font-family: "Arial", "Verdana";
}

.Classfying
{
font-weight: normal;
font-size: 50%;
color: #000000;
font-family: "Arial", "Verdana";
}

.Dish_Title
{
font-size: 75%;
font-weight: normal;
color: #000000;
font-family: Arial, Verdana;

}

.Dish
{
font-weight: normal;
font-size: 30%;
color: #000000;
font-family: "Arial", "Verdana";

}

.Page
{
font-weight: normal;
font-size: 30%;
color: #000000;
font-family: "Arial", "Verdana";
}

.Order_Text
{
font-weight: normal;
font-size: 90%;
color: #000000;
font-family: "Arial", "Verdana";
}