.QM {
	font-size: 75%;
	font-weight: bolder;
	color: #FFFFFF;
}

.Classfying {
	font-size: 75%;
	font-weight: bolder;
	color: #000000;
}

.Dish_Title {
	font-size: 85%;
	font-weight: bolder;
	color: #000000;
}

.Dish {
	font-size: 75%;
	font-weight: bolder;
	color: #000000;
}

.Page {
	font-size: 60%;
	font-weight: bolder;
	color: #000000;
}

.Order_Text{
	font-size: 90%;
	font-weight: bolder;
	color: #000000;
}